<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0">
    <title>Spring Boot WebSocket Chat Application</title>
    <link rel="stylesheet" href="/css/main.css" />
</head>
<body>
<div id="login-page">
    <div class="page-container">
        <h1 class="title">Java EE Chat</h1>
        <h3>Please login</h3>
        <form id="loginForm" data-th-action="@{/cekLogin}" name="loginForm" method="post">
            <div class="form-group">
                <input type="text" id="email" name="email" placeholder="*Email" autocomplete="off" class="form-control"/>
                <input type="text" id="password" name="password" placeholder="*Password" autocomplete="off" class="form-control"/>
            </div>
            <div class="form-group">
                <button type="submit" name="action" class="accent btn-submit" value="Login">Login</button>
                <button type="submit" name="action" class="primary btn-submit" value="Register">Register</button>
            </div>
        </form>
    </div>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/sockjs-client/1.1.4/sockjs.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/stomp.js/2.3.3/stomp.min.js"></script>
<!--<script src="/js/main.js"></script>-->
</body>
</html>