<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <h1>Register</h1>
    <form action="#" th:action="@{/register/}" method="post">
        Email <input type="text" name="email"> <br>
        First Name <input type="text" name="firstName"> <br>
        Last Name <input type="text" name="lastName"> <br>
        Password <input type="text" name="password"> <br>
        <input type="submit">
    </form>
</body>
</html>